@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }
}

.background-image {
  animation: pulse 4s ease-out infinite;
}

.invisible-scrollbar::-webkit-scrollbar {
  opacity: 0;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.hardware-cell {
  background-color: #192C3B;
}
.software-cell {
  background-color: #29475F;
}
.infrastructure-cell {
  background-color: #3E6B8E;
}
.skill-cell {
  background-color: #5B8EB7;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}